.row{
    padding: 20px 30px;
}
::-webkit-scrollbar{
    display: none;
}

.movies-row{
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
}
.movie{
    width: 100%;
    max-height: 150px;
    margin-right: 25px;
    transition: transform 400ms;
}

.movie:hover{
    transform: scale(1.06);


}